.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 500px;
  border: 1px solid rgb(61, 61, 61);
  background-color: grey;
  border-radius: 10px;
  width: 180px;
  padding: 10px;
  font-family: rick_and_morty;
  font-size: smaller;
  box-shadow: 0 0 15px black;
}

.container button {
  height: 33px;
  background-color: rgba(0, 0, 130, 0.948);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.container img {
        width: 90%;
        border: 1px solid rgb(61, 61, 61);
        border-radius: 10px;
      }

