.App {
   text-align: center;
   text-decoration: none;
   
}

.divCard {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }

.login {
   display: flex;
   justify-content: center;
   align-items: center;

}


